body {
    font-family: 'Roboto';
}

.hero-image {
    background-color: #1f2937;
}

.header.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header.sectext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration:none;
}

.header.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header.image{
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

button.header{
    background-color: #3882F6;
    color: #E5E7EB;
}
