body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.hero-image {
    background-color: #1f2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    
}

.header.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header.sectext {
    font-size: 18px;
    color: #E5E7EB;
}

.header.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    margin-top: 16px;
}

.header.image{
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 20px;
    margin-bottom: 0px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration:none;
}

button.header{
    background-color: #3882F6;
    color: #E5E7EB;
    align-self:flex-start;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px;
}

.top.content {
    display: flex;
    justify-content: center;
    gap: 70px;
}
.maintext-display{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 80px;
}

.header.image{
    height: 240px;
    width: 450px;
    padding-bottom: 100px;
}
.img-display {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-end;
}

.middle{
    display: flex;
    flex-direction: column;
}

.mid-title{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    align-self: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-spread{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

img.middle{
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.img1 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
#dragon-fire {
    height: auto;
    width: 300px;
}
.img1-txt {
    color: #1f2937
}

.img2 {
    display: flex;
    flex-direction: column;
}
#lightup-dragon{
    height: auto;
    width: 300px;
}
.img2-txt {
    color: #1f2937
}

.img3 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
#sand-dragon{
    height: auto;
    width: 300px;
}
.img3-txt {
    color: #1f2937
}

.img4 {
    display: flex;
    flex-direction: column;
}
#dragon-house{
    height: auto;
    width: 300px;
}
