body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.hero-image {
    background-color: #1f2937;
    min-width: 1250px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    
}

.header.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.header.sectext {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration:none;
}

.header.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: auto;
}

.header.image{
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: auto;
    gap: 20px;
}

.top.links {
    display: flex;
    justify-content: space-between;
}

button.header{
    background-color: #3882F6;
    color: #E5E7EB;
    align-self:flex-start;
}

.top.content {
    display: flex;
}
.maintext-display{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header.image{
    padding: 100px;
}
